* {
    box-sizing: border-box;
}

img.superbg {
    position:fixed;
    top:0;
    left:0;
    z-index:-1;
    width: 100%;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover;
    opacity: 0.5;
}

.ml15 {
    font-family: 'Stardos Stencil';
    color: #e40c12;
    font-weight: 800;
    font-size: 5.0em;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    text-align: center;
    text-shadow: 0.1em 0.1em 0.2em grey;
    margin: 0;
}

.ml15 .word {
    display: inline-block;
    line-height: 1em;
    opacity: 1.5;
}

#logo {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 18%;
    top: -35px;
    filter: drop-shadow(0.5em 0.5em 0.8em grey);
}

body {
    margin: 0px;
    font-family: 'Stardos Stencil';
}

.nav {
    height: 50px;
    width: 100%;
    background-color: #4d4d4d;
    position: relative;
    display: flex;
}

.nav > .nav-header {
    display: inline;
}

.nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
    display: none;
}

.nav > .nav-links {
    display: center;
    float: right;
    font-size: 18px;
    /*top: 30px;*/
}

.nav > .nav-links > a {
    display: center;
    padding: 0px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
}

.nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
    display: none;
}

@media (max-width:600px) {
    .nav > .nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
    }
    .nav > .nav-btn > label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
        background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #eee;
    }
    .nav > .nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #333;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 50px;
        left: 0px;
    }
    .nav > .nav-links > a {
        display: block;
        width: 50px;

    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
        height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
    }
    .logo-image{
        width: 46px;
        height: 46px;
        border-radius: 50%;
        overflow: hidden;
        margin-top: -6px;
    }
}